.dune{
    display: flex;
    flex-flow: column;
   justify-content: space-evenly;
   align-items: center;
}


.nune {
    border: 2px solid rgba(2, 2, 28, 0.608);
    padding: 2rem;
    border-radius: 0.4rem;
    width: 20rem;
    background-color: rgba(0, 255, 255, 0.099);
  }
  
  .nune-ul{
    border: 1px solid rgb(111, 38, 13);
    border-radius: 2rem;
    padding: 1rem;

  }
  .nune-li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0.3rem;
    border: 1px solid salmon;
    border-radius: 0.5rem;
    padding: 0.3rem;
    
  }

  .nuneli-but{
    transform: translate(40px);
  }

  .nuneli-b, 
  .nuneli-i{
    transform: translate(10px,7px);
  }

  .dune-but{
  width: 8rem;
  background-color: #776b6b4a;
  }
  #quantity{
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
  }

  #product{
    border-radius: 0.5rem;
  }